form {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

mat-expansion-panel {
    margin: 5em;
}

mat-card {
    background: #8BC34A;
    margin: 1em;
}

mat-card, mat-card-title, mat-card-subtitle, mat-card-content {
    color: #fff;
}

.employees {
    display: flex;
    flex-wrap: wrap;
}